:root {
  font-size: 16px;
}

body {
  margin: 0;
}

.container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5rem auto;
  grid-template-areas:
    'headerArea'
    'mainArea';
}

header {
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0;
  top: 0;
  grid-area: headerArea;
  width: 100%; 
  height: 100%;
  background-color: rgb(0, 204, 255);
  font-size: 0;
  border-bottom: 1px solid rgb(0, 163, 204);
}

h1 {
  margin: 0;
  padding: 0;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  display: inline-block;
  font-family: Finger Paint;
  font-size: 2.5rem;
  text-shadow: 0.15rem 0.15rem 0 black;
}

#h1_1, #h1_9 {
  color: red;
}

#h1_2, #h1_10 {
  color: orange;
}

#h1_3, #h1_11 {
  color: yellow;
}

#h1_4, #h1_12 {
  color: green;
}

#h1_5, #h1_13 {
  color: blue;
}

#h1_6, #h1_14 {
  color: indigo;
}

#h1_7 {
  color: violet;
}

.menu {
  position: absolute;
  z-index: 3;
  right: 6rem;
  font-size: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  top: 0;
}

.menu ul li {
  position: relative;
  display: inline-block;
  height: 3.5rem;
  font-size: 1.5rem;
}

.menu ul li button {
  position: relative;
  color: white;
  text-decoration: none;
  background-color: rgb(0, 204, 255);
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 0.5rem;
  border-bottom: 1px solid rgb(0, 163, 204);
}

.menu ul li button:hover {
  color: rgb(0, 204, 255);
  background-color: white;
}

.menu ul li ul {
  display: block;
  position: absolute;
  z-index: -1;
  top: 3.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0 1rem rgb(179, 179, 179);
}

.menu ul li ul li {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.3rem;
}

.menu ul li ul li button {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 1rem;
  background-color: rgb(240, 245, 245);
  color: black;
  border: none;
}

.menu ul li ul li button:hover {
  background-color: rgb(0, 204, 255);
  color: white;
}

.menu ul li ul li button i {
  position: relative;
  vertical-align: middle;
  left: 2rem;
}

.menu ul li ul li ul {
  position: absolute;
  left: 10rem;
  top: 0;
  border-radius: 0.5rem;
}

.menu ul li ul li ul li {
  width: 12rem;
}

#btnAdvanced, #btnRainbowMaster {
  border-radius: 0 0 0.5rem 0.5rem;
}

#btn5Colors {
  border-radius: 0.5rem 0.5rem 0 0;
}

.rules {
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem auto;
  grid-template-areas:
    'rulesDivBtnArea'
    'rulesDivPArea';
  background-color: white;
  box-shadow: 0 0 1rem rgb(179, 179, 179);
}

.rulesDivBtn {
  position: relative;
  grid-area: rulesDivBtnArea;
  text-align: right;
  top: 0.25rem;
  right: 1rem;
}

#btnCloseRules {
  position: relative;
  border: none;
  outline: none;
  padding: 0;
  font-size: 1.5rem;
  color: lightgrey;
}

#btnCloseRules:hover {
  color: rgb(0, 204, 255);
}

.rulesDivP {
  grid-area: rulesDivPArea;
  padding: 0.5rem 4rem 1rem 4rem;
  font-family: Titillium Web;
  font-size: 1.4rem;
}

main {
  position: absolute;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/light_wool.png"); /*url("https://www.toptal.com/designers/subtlepatterns/patterns/grey.png")
  url("https://www.toptal.com/designers/subtlepatterns/patterns/gplaypattern.png")
  url("https://www.toptal.com/designers/subtlepatterns/patterns/light_wool.png")
  url("https://www.toptal.com/designers/subtlepatterns/patterns/polonez_car.png")*/
  grid-area: mainArea;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 2rem;
  grid-template-areas:
    'gameArea'
    'footerArea';
}

.game {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: gameArea;
  text-align: center;
}

#bigCircleSVG {
  position: relative;
  display: inline-block;
  height: 100%;
}

#smallCircleBackground {
  position: relative;
}

#smallCircleTitle {
  position: relative;
  font-family: Alfa Slab One;
  font-weight: 500;
  fill: black;
}

.smallCircleBtns {
  cursor: pointer;
}

#switch {
  cursor: pointer;
}

.footer {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: footerArea;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    'authorArea socialMediaArea';
}

.author {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: authorArea;
  text-align: right;
  padding-right: 1rem;
  font-family: Titillium Web;
}

.author p {
  display: block;
  position: relative;
  font-size: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.socialMedia {
  grid-area: socialMediaArea;
  text-align: left;
  padding-left: 1rem;
}

.socialMedia a {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  padding-left: 0.5rem;
  color: rgb(0, 204, 255);
}

#wrongMove {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

#playerWins {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: rgba(240, 255, 255, 0.95);
}

#winNotification {
  position: absolute;
  z-index: 6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'winNotificationTextArea'
    'winNotificationBtnArea';
  width: 70vw;
  height: 60vh;
  top: 20%;
  left: 15%;
}

#winNotificationText {
  position: relative;
  display: block;
  grid-area: winNotificationTextArea;
  width: 100%;
  height: 100%;
}

#winNotificationText p {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  height: 4rem;
  top: 20%;
  margin-top: -2rem;
  font-size: 3rem;
  font-family: Alfa Slab One;
}

#winNotificationBtn {
  position: relative;
  display: block;
  grid-area: winNotificationBtnArea;
  width: 100%;
  height: 100%;
}

#btnPlayMore {
  position: relative;
  text-align: center;
  width: 9rem;
  height: 3rem;
  left: 50%;
  margin-left: -4.5rem;
  font-size: 1.5rem;
  color: rgb(0, 128, 0);
  background-color: white;
  border: 0.1rem solid rgb(0, 128, 0);
  border-radius: 5px;
  outline: none;
  font-family: Electrolize;
}

#btnPlayMore:hover {
  color: white;
  background-color: rgb(0, 128, 0);
  border: 0.1rem solid rgb(0, 128, 0);
}

                                               /*  Media queries  */

@media only screen and (max-width: 812px) {
  :root {
    font-size: 10px;
  }
  
  body {
    cursor: pointer;
  }

  .container {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem 2.5rem auto;
    grid-template-areas:
      'headerArea'
      'menuArea'
      'mainArea';
  }
  
  header {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .menu {
    grid-area: menuArea;
    width: 100%;
    height: 100%;
    right: 0;
    text-align: center;
    background-color: rgb(0, 204, 255);
    border-bottom: 0.1rem solid rgb(0, 163, 204);
  }
  
  h1 {
    left: 0;
    font-size: 2rem;
  }
  
  .menu ul li {
    height: 2.5rem;
  }
  
  .menu ul li button {
    border-bottom: 0.1rem solid rgb(0, 163, 204);
  }
  
  .menu ul li ul {
    top: 0.1rem;
  }
  
  .menu ul li ul li button {
    border: none;
  }

  main {
    position: relative;
    grid-template-rows: auto 3.5rem;
  }
  
  .footer {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
  
  .author {
    text-align: center;
  }

  .author p {
    font-size: 1.2rem;
  }
  
  .socialMedia a {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    font-size: 12px;
  }
  
  body {
    cursor: pointer;
  }
}